.principalHeader{
    width: 100%;
    height: auto;
    background-color: #22262a;
    border-bottom: 1px solid #999ba4;
}

.logo{
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

.navButtons{
    display: block;
    width: 100%;
    height: auto;
    background-color: #22262a;
    text-align: center;
}

.navButtons > button {
    margin-left: 25px;
    margin-right: 25px;
    font-family: Roboto;
    color: #999ba4;
    background: transparent;
    border: 2px solid transparent;
    padding: 12px;
    font-size: 15px;
}

.navButtons > button:hover{
    border-bottom: 2px solid #E62429;
    color: white;
}