.carrusel{
  display: block; /* Elimina espacio en blanco bajo la imagen*/
  width: 100%;
}

.navUnderCarrusel{
  width: 100%;
  height: 50px;
  background-color: #22262a;
  -webkit-box-shadow: 0px 6px 25px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 25px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 25px 2px rgba(0,0,0,0.75);
}

.search{
  text-align: start
}

.inputSearch{
  text-align: start;
  width: 300px;
  border: transparent;
  border-bottom: 2px solid black;
}

body{
  text-align: center;
}

.characters{
  position: absolute;
  text-align: left;
  width: 18%;
  margin-top: -7%;
  margin-left: -10%
}




